.navbar
    display: flex
    font-size: 15px
    padding: 15px
    background: #187bcd
    color: #ffffff
    cursor: default
    width: 100vw

    .app-title
        width: 10vw

    .nav-title
        padding-left: 10px
        width: 9vw
        border-left: 2px solid #ffffff
        &:hover
            background: #03254c
            cursor: pointer

    .nav-title-active
        padding-left: 10px
        width: 9vw
        border-left: 2px solid #ffffff
        background: #03254c
        &:hover
            cursor: pointer
        