<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-content class="card-content">
                <form [formGroup]="userForm">
                    <div class="login-email">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Email</mat-label>
                            <input matInput placeholder="example@binus.edu" formControlName="email">
                            <mat-error *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="userForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="login-password">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="password" placeholder="Password" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="userForm.get('password').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="login-button">
                        <button mat-raised-button (click)="onSubmit()">Login</button>
                    </div>
                </form>
        </mat-card-content>
    </mat-card>
</div>
<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="show == true"></mat-progress-bar>