.login-wrapper
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.login-card
    width: 30%

.card-content
    width: 100%

.mat-form-field
    width: 100%

.login-button
    button
        width: 100%
        background-color:#0373ff
        color: white
    
.progress-bar
    position: absolute
    bottom: 0

.mat-icon
    cursor: pointer