<div class="content">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Voucher Belanja Rp. 10000" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="reward_description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reward Description</th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>
    
            <ng-container matColumnDef="reward_quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reward Quantity</th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
            </ng-container>
    
            <ng-container matColumnDef="reward_claim_point">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reward Claim Point</th>
                <td mat-cell *matCellDef="let row"> {{row.claim_point}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let row; let idx=index" class="edit">
                    <button mat-raised-button class="view-detail-btn" (click)="openDetailDialog(idx)">Detail</button>
                    <button mat-raised-button class="update-btn" (click)="openUpdateDialog(idx)">Update</button>
                    <button mat-raised-button class="delete-btn" (click)="openDeleteDialog(row.id)">Delete</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data found</td>
            </tr>
    
        </table>
    
        <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
    </div>
</div>